.section.hero {
  padding-bottom: 0px;
}


aside.section {
  @media screen and (max-width: $mobile) {
    width: 100vw;
    transition: .25s all cubic-bezier(0.075, 0.82, 0.165, 1);

    &.closed {
      width: 40px !important;
      min-width: 0px;

      #logo {
        svg {
          width: 30px;
          height: 30px;
          position: absolute;
        }
        .title {
          display: none;
        }
      }

      .div-search {
        display: none;
      }

      .result-list {
        display: none;
      }
    }
  }

  .result-list {
    height: calc(100vh - 184px);
    overflow-y: auto;
    margin-right: -25px;
    overflow-x: hidden;
    margin-left: -25px;
    &:empty {
      text-align: center;
      &::before {
        content: "The results of the search will appear here";
        font-size: 0.8em;
        text-align: center;
        margin-top: 5em;
        color: #fff6;
      }
    }

    &::-webkit-scrollbar {
      width: 6px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background-color: #fffa;
    }
    &::-webkit-scrollbar-track {
      border-radius: 5px;
      background-color: #fff4;
    }
    
  }
}

.clearfix {
  margin: 15px 0px;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  .title {
    color: white !important;
    display: inline;
    margin-left: 15px;
    font-size: 1.5rem;
  }

  svg {
    fill: white;
  }
}

.input-aside {
  background: none;
  border-radius: 0px;
  border: none;
  box-shadow: none;
  border-bottom: #fff8 1px solid;
  transition: .25s all;
  color: #fff9;

  &:focus {
    border-color: #fff;
    color: white;
    box-shadow: 0px 4px 7px -1px #fff2;
  }
  
  &:hover {
    color: white;
    border-color: #fffc;
  }

  &::placeholder {
    color: #fff7;
  }
}

.list-item {
  display: flex;
  transition: .25s all;
  cursor: pointer;

  .list-image {
    height: 100px;
    border-radius: 100%;
    transition: .25s all;
  }
  svg.list-image {
    fill: #fffa
  }
  .list-description {
    margin-left: 10px;
    color: #fefefe;
  }
  .list-title {
    font-weight: bold;
    font-size: 1.1em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 145px;
  }
  .list-subtitle {
    font-variant: all-small-caps;
    line-height: 14px;
  }
  &:not(:last-child) {
    border-bottom: 1px solid #fff4 !important;
  }

  &:hover {
    background-color: #fff4;
    .list-image {
      border-radius: 0%;
    }
  }
}




